$aside-width: 360px;
$menu-active-color: #2279BD;

* {
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background: #69C;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    transition: all 0.5s;
    padding-left: $aside-width;
    .xy_aside {
        position: fixed;
        top: 0;
        left: 0;
        width: $aside-width;
        height: 100%;
        .xy_aside_content {
            position: absolute;
            top: 0;
            left: 50%;
            width: 300px;
            height: 100%;
            background: $menu-active-color;
            transform: translateX(-50%);
            .xy_logo_image {
                margin: 0 auto;
                margin-top: 20px;
                width: 150px;
                height: 150px;
                background: #fff;
                border-radius: 20px 20px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .user_title {
                text-align: center;
                margin: 10px 0;
                color: #fff;
                .user_title_big {
                    font-size: 26px;
                }
                .user_title_desc {
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
            .xy_menu {
                margin: 0 auto;
                margin-top: 20px;
                width: 100%;
                overflow: hidden;
                $menu-item-height: 60px;
                .menu_item {
                    width: 100%;
                    height: $menu-item-height;
                    color: #fff;
                    font-size: 14px;
                    border-top: 2px solid #69C;
                    &:last-child {
                        border-bottom: 1px solid #69C;
                    }
                    &:hover {
                        cursor: pointer;
                        background: #fff;
                        border-top: 1px solid #fff;
                        &:last-child {
                            border-bottom: 1px solid #fff;
                        }
                        a {
                            color: #2279BD;
                            text-decoration: none;
                        }
                    }
                    a {
                        display: block;
                        width: 100%;
                        color: #fff;
                        height: $menu-item-height;
                        text-align: center;
                        line-height: $menu-item-height;
                    }
                }
            }
            .icons_wrapper {
                margin-top: 20px;
                text-align: center;
                .iconfont {
                    font-size: 22px;
                    color: #fff;
                    border-radius: 5px 5px;
                    margin: 0 2px;
                    &:hover {
                        background: #fff;
                        cursor: pointer;
                        color: $menu-active-color;
                    }
                }
            }
            .menu_footer {
                width: 100%;
                position: absolute;
                bottom: 20px;
                color: #fff;
                text-align: center;
                font-size: 12px;
            }
        }
    }
    .xy_content {
        padding-top: 20px;
        width: 100%;
        overflow: hidden;
        color: #fff;
        padding-bottom: 100px;
        .content_item {
            width: 100%;
            overflow: hidden;
            &:hover {
                .line {
                    width: 200px;
                }
            }
            h3.h3 {
                font-size: 18px;
                width: 100%;
                padding: 5px 0;
            }
            .line {
                width: 100px;
                height: 1px;
                background-color: #fff;
                transition: width 1s;
            }
            article {
                margin: 20px 0;
                padding-left: 40px;
            }
            .gallery_content_wrapper {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 10px;
                .gallery_item {
                    position: relative;
                    width: 49%;
                    margin-bottom: 2%;
                    font-size: 14px;
                    height: 300px;
                    background: rgba(250, 250, 250, 0.1);
                    transition: all 1.5s;
                    overflow: hidden;
                    cursor: pointer;
                    &:hover {
                        img {
                            opacity: 1;
                        }
                        background-color: #fff;
                    }
                    img {
                        transition: all 1.5s;
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        height: 100%;
                        transform: translateX(-50%);
                    }
                    .gallery_item_content {
                        width: 100%;
                        height: 100%;
                        padding: 15px;
                        h3 {
                            font-size: 16px;
                        }
                        p {
                            margin: 20px 0;
                        }
                        a {
                            font-size: 12px;
                            color: #fff;
                        }
                    }
                }
            }
            &.contact_wrapper {
                p {
                    margin: 20px 0;
                    margin-bottom: 30px;
                    padding: 0 10px; 
                }
            }
            .contact_content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 10px;
                $input-height: 50px;
                input,textarea {
                    background-color: rgba(250, 250, 250, 0.1);
                    border: none;
                    outline: none;
                    border: 1px solid #fff;
                    padding: 0 10px;
                    color: #fff;
                    font-size: 14px;
                    &::-webkit-input-placeholder {
                        font-size: 12px;
                        color: #fff;
                    }
                    &::-moz-placeholder {
                        font-size: 12px;
                        color: #fff;
                    }
                    &::-ms-input-placeholder {
                        font-size: 12px;
                        color: #fff;
                    }
                }
                .name,.email {
                    width: 48%;
                }
                .subject {
                    margin: 20px 0;
                    width: 100%;
                }
                input {
                    line-height: $input-height;
                    height: $input-height;
                }
                textarea {
                    padding: 10px;
                    width: 100%;
                    height: 200px;
                }
                .btn_wrapper {
                    width: 100%;
                    overflow: hidden;
                    text-align: left;
                    button {
                        margin-top: 20px;
                        color: #69C;
                        background-color: #fff;
                        border: none;
                        outline: none;
                        padding: 5px 30px;
                        border-radius: 5px 5px;
                    }
                }
            }
        }
    }
}

.shadow_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    .shadow {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.4;
    }
    .shadow_wrapper_content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200px;
        overflow: hidden;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 10px 10px;
        padding: 20px;
        i {
            position: absolute;
            right: 10px;
            top: 0;
            color: #000;
            width: 10px;
            height: 10px;
            font-size: 18px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}