<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="http://www.bestlifebestyue.com/static/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    {{> cssresource}}
</head>

<body>
    {{!-- 导航头部 --}} 
    {{> header }}
    <div>home</div>
    {{> footer }}

    <script src="http://www.bestlifebestyue.com/file-manage/js/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    {{> jsresource}}
</html>