<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>{{title}}</title>
</head>

<body>
    {{!-- 导航头部 --}} 
    {{> header }}
    <div>home</div>

</html>